<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tasklist UI</title>
</head>
<body>

<div class="container">
  <div class="row">
    <form id="form">
      <div>
        <label>Matnr:</label>
		<input type="text" id="matnr" name="id"/>
      </div>
	<div>
        <input type="submit" value="Submit"/>
      </div>
    </form>
  </div>
  <h3 style="text-align: center"><b>All Tasks</b></h3>
  <div class="row" style="background-color: beige; font-family: Calibri; font-size: 20px">
    <div id="results">

    </div>
  </div>

</div>
<script src='app.js'></script>
</body>
</html>